@model RadioComponents.Models.Users.ChangePasswordViewModel

<div class="container">
    <h2>Изменение пароля для пользователя @Model.Email</h2>
    <form asp-action="ChangePassword" asp-controller="Users">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">Новый пароль</label>
            <input type="text" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
        </div>
    </form>
    <a class="p-2 text-dark" asp-controller="Users" asp-action="Index">Назад</a>
</div>
<style>
    body {
        background: url(../img/banner2.jpg);
    }
</style>